<ion-content class="home-container">

    <!-- Refresher -->
    <app-refresher (refresh)="getBookmarkHours()"></app-refresher>

    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <app-card-bus *ngFor="let itBusCard of finalBusCardAtStop" [busCard]="itBusCard"></app-card-bus>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="no-bookmark-lbl">
        <ion-label *ngIf="noBookmarks">Oups, vous n'avez pas encore de favoris !</ion-label>
    </div>
</ion-content>