.bus-card {
    --background: #ffffff;
    box-shadow: 0px 0px 12px white;
    margin: 15px 10px;

    .add-favorite {
        position: absolute;
        right: 6px;
        top: 10px;

        &.green {
            color: #09ff00;
        }
    }

    .next-hour {
        text-align: center;
        font-weight: bold;
    }
    .next-hours {
        display: inline;
    }
}
