.bus-card {
    --background: #ffffff;
    box-shadow: 0px 0px 12px white;
    margin: 15px 10px;

    .add-favorite {
        position: absolute;
        right: 6px;
        top: 10px;
        width: 25px;
        height: 25px;

        &.green {
            color: #37a840;
        }
    }

    .line-container {
        .sens-icon {
            float: left;
            padding: 6px 2px 0 0;

            &.rotated {
                transform: rotate(180deg);
                padding: 0 0 6px 2px;
            }
        }
    }

    .next-hour {
        text-align: center;
        font-weight: bold;
    }
    .next-hours {
        display: inline;
    }
}
