ion-tabs {

    ion-tab-bar {
        --background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 63%, rgba(13,13,158,1) 100%);
    }

    .tabs-icons {
        font-size: 35px;
    
        &.ajust-align-mat-icons {
            margin-top: 2px;
        }
    }
    
    .swipe-area {
        height:100%;
        width:100%;
    }
    
    .tab-selected {
        .tabs-icons {
            color: #ffffff;
            border-top: #ffffff solid 2px;
            padding: 10px;
        }
    }
}
