<!-- <app-header [showClient]="true"></app-header> -->
<!-- <ion-tabs appSwipetab (ionTabsDidChange)="ionTabsDidChange($event)" (tabChange)="onTabChange($event)" #myTabs> -->
<ion-tabs>
    <ion-tab-bar [hidden]="!appReady" slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="time" class="tabs-icons animated fadeInUp delay-1s"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="favorite">
            <ion-icon name="heart" class="tabs-icons animated fadeInUp delay-1s"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
