@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url('../assets/font/roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/material.icons.woff2') format('woff2');
}

@font-face {
    font-family: 'josefin';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'righteous';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/Righteous-Regular.ttf') format('truetype');
}
