
ion-content {
    --background: url("../../../assets/image/bgbus.jpeg") no-repeat center fixed;
    --background-size: cover 100%;
}

.home-container {

    .form-container {

        display: inline-flex;
        width: 100%;

        > * {
            flex: auto;
            margin: 0 10px;
        }
    }

    .line-container {
        width: 30%;
        padding: 15px;
    }
}
