<ion-content>
    <!-- Loading template -->
    <app-loading *ngIf="false" [isCard]="true" [numberOfRows]="2"></app-loading>

    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto" (input)="onInputChange($event.target.value)">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of stopsFiltered" [value]="option.libelle">
            {{option.libelle}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


</ion-content>