<ion-content class="home-container">

    <!-- Loading stops -->
    <ion-backdrop *ngIf="isLoadingStops" class="backdrop"></ion-backdrop>
    <div *ngIf="isLoadingStops" class="preload-content">
        <h1 class="title animated fadeIn delay-1s">Justime Nantes</h1>
    </div>

    <!-- Loading cards -->
    <app-loading *ngIf="false" [isCard]="true" [numberOfRows]="2"></app-loading>

    <h1 *ngIf="!isLoadingStops" class="title animated fadeInDown">Justime Nantes</h1>

    <form *ngIf="!isLoadingStops" [formGroup]="stopsFormGroup" (ngSubmit)="submitStops()" #formtwo="ngForm" 
    class="form-container animated fadeIn delay-1s">
        <mat-form-field>
            <input type="text" formControlName="stop" placeholder="Quel arrêt ?" aria-label="Number" matInput
                [matAutocomplete]="auto" (input)="onInputChange($event.target.value)">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  (optionSelected)='submitStops()'>
                <mat-option *ngFor="let option of stopsFiltered" [value]="option.libelle">
                    {{option.libelle}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <i class="material-icons clear-icon" (click)="clearInput()">highlight_off</i>
    </form>

    <ion-grid [ngClass]="isCleared ? '' : 'animated bounceOutDown'" >
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <app-card-bus *ngFor="let itBusCard of finalBusCardAtStop ; let idx = index" [busCard]="itBusCard" [idx]="idx"></app-card-bus>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>